html {
	height: 10%;
}

body {
	width: 10%;
	height: 10%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: 'Bungee Shade', cursive;
	 background: #ffed94; 
}


h1 {
	display: flex;
	align-items: center;
	justify-content: center;
	align-content: center;
	text-align: center;
	font-weight: normal;
	width: 100%;
	text-align: center;
	
	font-size: 6vw;
	background: linear-gradient(
		-45deg, 
		#4bc0c8 25%, 
		#feac5e 25%, 
		#feac5e 50%, 
		#4bc0c8 50%, 
		#4bc0c8 75%, 
		#feac5e 75%, 
		#feac5e);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-size: 5px 5px;
	background-position: 0 0;
	animation: stripes 1s linear infinite;
}	

@keyframes stripes {
	100% { 
		background-position: 20px 0, 20px 0, 20px 0;
	}
}